name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: docker run --rm -v ${{ github.workspace }}:/home/buildozer/host kivy/buildozer android debug
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
