name: Build
on: [push, workflow_dispatch]
jobs:
  apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: docker run --rm -v ${{ github.workspace }}:/home/buildozer/host kivy/buildozer android debug
      - uses: actions/upload-artifact@v4
        with:
          name: app
          path: bin/*.apk
