name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Enteon/buildozer-action@v1.2.1
        with:
          buildozer_version: master
      - uses: actions/upload-artifact@v4
        with:
          name: app
          path: bin/*.apk
